.nav {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    background-color: white;
    border-bottom: 2px solid grey;
    box-shadow: 0 4px 8px rgba(94, 93, 93, 0.2);
    margin-bottom: 8px;
    z-index: 100;
}

.page {
    color: black;
}

.page:hover {
    color: red;
    font-size: 16px;
    text-shadow: 0 2px 4px black;
    transition: text-shadow 0.3s;
}

.isActive {
    color: red;
    text-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
