.searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 60px;
}

.input {
    width: 320px;
    height: 24px;
    padding: 4px 8px;
    border: 1px solid black;
    border-radius: 4px;
}

.button {
    display: flex;
    justify-content: start;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    margin: 0 16px;
    width: 100px;
    border: none;
    border-radius: 4px;
    background-color: red;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
    
.button:hover {
    background-color: darkred;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.resultContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
}

.resultContainer ul {
    padding: 0;
}

@media (max-width: 480px) {
    .searchForm {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 60px;
    }

    .resultContainer ul {
        margin-top: 80px;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}