.list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 20px;
}

@media (max-width: 480px) {
    .list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        list-style: none;
        padding: 0;
        margin: 20px;
    }
}