.castList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.castItem {
    width: calc(12.5% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.actorImage {
    height: 100px;
}

.placeholderIcon {
    color: black;
    font-size: 75px;
    height: 100px;
    border-radius: 12px;
}

.actorImage img,
.placeholderIcon {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.actorDetails {
    margin-top: 10px;
    text-align: center;
    color: black;
    font-size: 12px;
}

@media (max-width: 480px) {
    .castItem{
        justify-content: center;
        align-items: center;
        width: calc(43% - 20px);
        margin: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        background-color: #fff;
    }
}